In [2]:
import pandas as pd

In [37]:
twitter_dataset_onlyurl = pd.read_csv('./datasets/yt_onlyurl.csv')

In [38]:
twitter_dataset_onlyurl.columns

Index(['tweetid', 'urls_list', 'url'], dtype='object')

In [42]:
twitter_dataset_onlyurl.size

3908106

In [5]:
# cols = ['tweetid','userid','screen_name','date','lang','location','description','place_id','place_url','place_type','place_name',
#         'place_full_name','place_country_code'',''place_country','place_bounding_box','text','extended','coord','reply_userid'
#         ,'reply_screen','reply_statusid','tweet_type','friends_count','listed_count','followers_count','favourites_count',
#         'statuses_count','verified','hashtag','urls_list','profile_pic_url','profile_banner_url','display_name','date_first_tweet'
#         ,'account_creation_date','rt_urls_list','mentionid','mentionsn','rt_screen','rt_userid','rt_user_description','rt_text'
#         ,'rt_hashtag','rt_qtd_count','rt_rt_count','rt_reply_count','rt_fav_count','rt_tweetid','rt_location','qtd_screen',
#         'qtd_userid','qtd_user_description','qtd_text','qtd_hashtag','qtd_qtd_count','qtd_rt_count','qtd_reply_count',
#         'qtd_fav_count','qtd_tweetid','qtd_urls_list','qtd_location','sent_vader',
#         'token','media_urls','rt_media_urls','q_media_urls']
#print(len(cols))
twitter_dataset = pd.read_csv('./datasets/yturl_twitter.csv',lineterminator="\n",low_memory=False)

65

In [6]:
twitter_dataset

,tweetid,userid,screen_name,date,lang,location,description,place_id,place_url,place_type,...,state,country,rt_state,rt_country,qtd_state,qtd_country,norm_country,norm_rt_country,norm_qtd_country,acc_age
0,1495977545967317000,1481149613373538309,MattisseComedy,Tue Feb 22 04:23:35 +0000 2022,en,NaN,Up & Coming Welsh Comedian who isn't afraid t...,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40
1,1495977557505753089,2821163219,Billington_Book,Tue Feb 22 04:23:38 +0000 2022,en,"Reus, Tarragonna, Spain","Disabled Vietnam vet, dad, granddad, cancer su...",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2691
2,1495977563197476865,294162188,ArsenicMarko,Tue Feb 22 04:23:39 +0000 2022,en,"Aurora, Ontario",NaN,NaN,NaN,NaN,...,NaN,Canada,NaN,NaN,NaN,NaN,Canada,NaN,NaN,3944
3,1495977582155685895,1481149613373538309,MattisseComedy,Tue Feb 22 04:23:44 +0000 2022,en,NaN,Up & Coming Welsh Comedian who isn't afraid t...,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40
4,1495977589151830017,1378410853314203649,Denise07190935,Tue Feb 22 04:23:45 +0000 2022,nl,NaN,🧠zelfnadenken \n🕊free Humanity \n📚boeken \nexi...,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,324
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1302697,1509017366180634626,1331144263657287680,Marek82085289,Wed Mar 30 03:59:10 +0000 2022,en,NaN,PO = KORUPCJA i ZDRAJCY,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,490
1302698,1509017394299260931,1045050364158853120,life_canbeshort,Wed Mar 30 03:59:17 +0000 2022,en,Canada,The Universe Corrects All Wrongs✌️ pls dont sp...,NaN,NaN,NaN,...,NaN,Canada,NaN,NaN,NaN,NaN,Canada,NaN,NaN,1280
1302699,1509017428831145984,53870131,gusbayu,Wed Mar 30 03:59:25 +0000 2022,in,dipermukaan bumi,Ragadi musuh mepareng \nRihati ya tongwanya ta...,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4650
1302700,1509017469758832640,777674879701254144,Online_SergioJu,Wed Mar 30 03:59:35 +0000 2022,es,"Santiago, Chile",Saludos ! aquí verás él Mundo a través de mis...,NaN,NaN,NaN,...,NaN,Chile,NaN,NaN,NaN,NaN,Chile,NaN,NaN,2018
1302701,1509017506404438020,1363918699430776833,RevBlackNetwork,Wed Mar 30 03:59:44 +0000 2022,en,NaN,Propaganda Busters\nPolitical Education \nMutu...,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,400

In [22]:
twitter_dataset.columns

Index(['tweetid', 'userid', 'screen_name', 'date', 'lang', 'location',
       'description', 'place_id', 'place_url', 'place_type', 'place_name',
       'place_full_name', 'place_country_code', 'place_country',
       'place_bounding_box', 'text', 'extended', 'coord', 'reply_userid',
       'reply_screen', 'reply_statusid', 'tweet_type', 'friends_count',
       'listed_count', 'followers_count', 'favourites_count', 'statuses_count',
       'verified', 'hashtag', 'urls_list', 'profile_pic_url',
       'profile_banner_url', 'display_name', 'date_first_tweet',
       'account_creation_date', 'rt_urls_list', 'mentionid', 'mentionsn',
       'rt_screen', 'rt_userid', 'rt_user_description', 'rt_text',
       'rt_hashtag', 'rt_qtd_count', 'rt_rt_count', 'rt_reply_count',
       'rt_fav_count', 'rt_tweetid', 'rt_location', 'qtd_screen', 'qtd_userid',
       'qtd_user_description', 'qtd_text', 'qtd_hashtag', 'qtd_qtd_count',
       'qtd_rt_count', 'qtd_reply_count', 'qtd_fav_count', 'qtd_tweetid',
       'qtd_urls_list', 'qtd_location', 'sent_vader', 'token', 'media_urls',
       'rt_media_urls', 'q_media_urls\r', 'state', 'country', 'rt_state',
       'rt_country', 'qtd_state', 'qtd_country', 'norm_country',
       'norm_rt_country', 'norm_qtd_country', 'acc_age'],
      dtype='object')

In [43]:
#Testing

In [ ]:
list(twitter_dataset_onlyurl['url'])[0:100]

In [20]:
print('Date format:',twitter_dataset['date'][0].strip())
month_dict = {}
for idx in twitter_dataset.index:
    temp = twitter_dataset['date'][idx].split(' ')[1]
    if temp not in month_dict:
        month_dict[temp] = 1
print(month_dict)

Date format: Tue Feb 22 04:23:35 +0000 2022
{'Feb': 1, 'Mar': 1, 'Apr': 1}

In [28]:
month_dict = {'01': 'Jan','02': 'Feb','03': 'Mar','04': 'Apr',
             '05': 'May','06': 'Jun','07': 'Jul','08': 'Aug',
             '09': 'Sep','10': 'Oct','11': 'Nov','12': 'Dec'}
date_query = input('Input date in MM/DD/YYYY format').split('/')
month_query = month_dict[date_query[0]]
day_query = date_query[1]
year_query = date_query[2]
print(month_query,day_query,year_query)

Input date in MM/DD/YYYY format02/22/2022
Feb 22 2022

In [ ]:
#Extracting rows which fall on the date queried

In [54]:
tweetid_urldata = []
urllist_urldata = []
for idx in twitter_dataset_onlyurl.index:
    tweetid_urldata.append(twitter_dataset_onlyurl['tweetid'][idx])
    urllist_urldata.append(twitter_dataset_onlyurl['url'][idx])

In [56]:
urllist_urldata[0]

'https://youtu.be/ymdrOPAzLqc'

In [57]:
tweetid_list = []
userid_list = []
screenname_list = []
date_list = []
url_list = []
url_id_list = []
url_type_list = []
#tweetid, userid, screen_name, date, url, url_id, url_type
for idx in twitter_dataset.index:
    date_from_dataset = twitter_dataset['date'][idx].split(' ')
    month_from_dataset = date_from_dataset[1]
    day_from_dataset = date_from_dataset[2]
    year_from_dataset = date_from_dataset[5]
    if month_from_dataset == month_query and day_from_dataset == day_query and year_from_dataset == year_query:
        tweet_id = twitter_dataset['tweetid'][idx]
        if tweet_id in tweetid_urldata:
            tweetid_index = tweetid_urldata.index(tweet_id)
            yt_url = urllist_urldata[tweetid_index]
            tweetid_list.append(tweet_id)
            userid_list.append(twitter_dataset['userid'][idx])
            screenname_list.append(twitter_dataset['screen_name'][idx])
            date_list.append(twitter_dataset['date'][idx])
            url_list.append(yt_url)
            if '/c/' in yt_url or '/channel/' in yt_url:
                url_type_list.append('channel')
            elif '/watch/v=' in yt_url or '/v=' in yt_url or '/shorts/' in yt_url:
                url_type_list.append('video')
            else:
                url_type_list.append('other')
dated_twitterset = pd.DataFrame({'tweetid': tweetid_list, 
                                 'userid': userid_list, 
                                 'screen_name': screenname_list, 
                                 'date': date_list, 
                                 'url':url_list, 
                                 'url_type':url_type_list })
dated_twitterset

,tweetid,userid,screen_name,date,url,url_type
0,1495977545967317000,1481149613373538309,MattisseComedy,Tue Feb 22 04:23:35 +0000 2022,https://youtu.be/ymdrOPAzLqc,other
1,1495977557505753089,2821163219,Billington_Book,Tue Feb 22 04:23:38 +0000 2022,https://youtu.be/WSuwiOe2dA0,other
2,1495977563197476865,294162188,ArsenicMarko,Tue Feb 22 04:23:39 +0000 2022,https://youtube.com/shorts/505uQahvKvg?feature...,video
3,1495977582155685895,1481149613373538309,MattisseComedy,Tue Feb 22 04:23:44 +0000 2022,https://youtu.be/ymdrOPAzLqc,other
4,1495977589151830017,1378410853314203649,Denise07190935,Tue Feb 22 04:23:45 +0000 2022,https://youtu.be/KS1-d3Rjszk,other
...,...,...,...,...,...,...
15662,1496273518115315717,494758790,TrbLind,Tue Feb 22 23:59:40 +0000 2022,https://youtu.be/ebHVsWQThMU,other
15663,1496273518182506499,1487430991501303809,HenrySRyan2112,Tue Feb 22 23:59:40 +0000 2022,https://youtube.com/shorts/61K9AbKFVFA?feature...,video
15664,1496273552382824456,1173705277503414272,atonb117,Tue Feb 22 23:59:48 +0000 2022,https://youtu.be/JrMiSQAGOS4,other
15665,1496273555423694853,1373722454863060994,Esatbagc1,Tue Feb 22 23:59:49 +0000 2022,https://www.youtube.com/watch?v=3OpG-6wAJhc,other
15666,1496273556052877316,1932684434,AriuniVA,Tue Feb 22 23:59:49 +0000 2022,https://youtube.com/shorts/61K9AbKFVFA?feature...,video

Series([], Name: tweetid, dtype: float64)